@model DoAn2VADT.Database.Entities.Distributor

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}<div class="card">
    <div class="card-body">
        <form asp-action="Edit">
            <div class="page-header">
                <div class="header-sub-title">
                    <nav class="breadcrumb breadcrumb-dash">
                        <a asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
                        <a asp-controller="Distributor" asp-action="Index" class="breadcrumb-item">Danh sách thể loại</a>
                        <span class="breadcrumb-item active">Xác nhận Edit</span>
                    </nav>
                </div>
            </div>
            <div class="card-header">
                <div class=" row">
                    <div class=" col-md-6">
                        <strong>DANH SÁCH THỂ LOẠI</strong>
                    </div>
                    <div class=" col-md-6 text-right">
                        <a class="btn btn-success fas fa-undo-alt " asp-action="Index"></a>
                        <button class="btn btn-primary fas fa-save" type="submit"></button>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <input type="hidden" asp-for="CreatedAt" />
                        <input type="hidden" asp-for="UpdatedAt" />
                        <input type="hidden" asp-for="DeletedAt" />
                        <input type="hidden" asp-for="CreateUserId" />
                        <input type="hidden" asp-for="UpdateUserId" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="Name" class="control-label">Tên nhà PT</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address" class="control-label">Địa chỉ</label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PhoneNumber" class="control-label">Số điện thoại</label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="Email" class="control-label">Email</label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="Discount" class="control-label">Chiết khấu</label>
                                <input asp-for="Discount" class="form-control" />
                                <span asp-validation-for="Discount" class="text-danger"></span>
                            </div>
                        </div>



                    </table>
                </div>
            </div>
        </form>
    </div>
</div>

