@model DoAn2VADT.Database.Entities.Account

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content my-2">
        <form asp-action="Delete">
            <div class="page-header">
                <div class="header-sub-title">
                    <nav class="breadcrumb breadcrumb-dash">
                        <a asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
                        <a asp-area="Admin" asp-controller="AdminAccounts" asp-action="Index" class="breadcrumb-item">Danh sách </a>
                        <span class="breadcrumb-item active">Xóa</span>
                    </nav>
                </div>
            </div>
            <!-- Default box -->

            <div class="card-header">
                <div class="row">
                    <div class=" col-md-6">
                    </div>
                    <div class=" col-md-6 text-right">
                        <a class=" btn btn-primary fas fa-undo-alt" asp-action="Index"></a>
                        <button class=" btn btn-danger far fa-trash-alt" type="submit"></button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="font-weight-semibold" for="ShortDesc">Tên đăng nhập</label>
                    <div class="form-control">@Html.DisplayFor(model => model.Name)</div>
                </div>
                <div class=" row">
                    <div class="form-group col-md-6">
                        <label class="font-weight-semibold" for="ShortDesc">Mật khẩu</label>
                        <div class="form-control">@Html.DisplayFor(model => model.Password)</div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="font-weight-semibold" for="productCategory">Quyền </label>
                        @if (Model.Role == 1)
                        {
                            <div class="d-flex align-items-center">
                                <div class="form-control">Admin</div>
                            </div>
                        }
                        else
                        {
                            <div class="d-flex align-items-center">
                                <div class="form-control">User</div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <!-- /.card-body -->

        </form>
    </section>
    <!-- /.content -->
</div>
