@model DoAn2VADT.Database.Entities.Publisher

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="card">
    <div class="card-body">
        <!-- Main content -->
        <form asp-action="Edit">
            <div class="page-header">
                <div class="header-sub-title">
                    <nav class="breadcrumb breadcrumb-dash">
                        <a asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
                        <a asp-controller="Publisher" asp-action="Index" class="breadcrumb-item">Nhà xuất bản</a>
                        <span class="breadcrumb-item active">Edit</span>
                    </nav>
                </div>
            </div>
            <!-- Default box -->

            <div class="card-header">
                <div class="row">
                    <div class=" col-md-6">
                        <strong>DANH SÁCH NHÀ XB</strong>
                    </div>
                    <div class=" col-md-6 text-right">
                        <a class=" btn btn-primary" asp-action="Index">Quay về</a>
                        <input type="submit" value="Save" class="btn btn-success" />
                    </div>
                </div>
            </div>
            <div class="card-body">
                <input type="hidden" asp-for="CreatedAt" />
                <input type="hidden" asp-for="UpdatedAt" />
                <input type="hidden" asp-for="DeletedAt" />
                <input type="hidden" asp-for="CreateUserId" />
                <input type="hidden" asp-for="UpdateUserId" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Tên nhà XB</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label">Địa chỉ</label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label asp-for="Mail" class="control-label">Email</label>
                        <input asp-for="Mail" class="form-control" />
                        <span asp-validation-for="Mail" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="PhoneNumber" class="control-label">Số điện thoại</label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->

        </form>
    </div>

    <!-- /.content -->
</div>
